* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.box {
   width: 500px;
   height: 500px;
   background-image: linear-gradient(135deg, #C2FFD8 10%, #465EFB 100%);
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}

span:nth-child(1) {
   width: 100px;
   height: 100px;
   border: 1px solid red;
   background-color: aqua;
   border-radius: 50%;
   animation: myanime 2s infinite;
   animation-delay: 1s;

}

span:nth-child(2) {
   width: 100px;
   height: 100px;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 50%;
   background-color: chocolate;
   animation: myanime 2s infinite;
}

@keyframes myanime {
   0% {
      transform: translateY(0px);
   }

   10% {
      transform: translateY(-150px);
   }

   20% {
      transform: translateY(0px);
   }

   30% {
      transform: translateY(-250px);
   }

   40% {
      transform: translateY(0px);
   }

   50% {
      transform: translateY(-150px);

   }

   60% {
      transform: translateY(0px);
   }

   70% {
      transform: translateY(-150px);

   }

   80% {
      transform: translateY(0px);
   }

   90% {
      transform: translateY(-400px);
   }

   100% {
      transform: translateY(0px);
   }
}